html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
b,
strong,
u,
i,
ol,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
}

.dropopen{
	position: relative;
	display: block;
}
.dropopen  a{
	font-size: 15px;
	line-height: 18px;
	color:#444444;
}
.dropopen a:hover{
	color:#555;
	background-color: #e7e7e7;
}
.dropopen .menu{
	position:absolute;
	text-align: right;
	list-style-type: none;
	font-size: 14px;
	padding: 5px 0px;
	background-color: #fff;
}
.menu li a{
	font-size: 15px;
	line-height: 18px;
	color:#444444;
	display:inline-block;
}