html, body, div, h1, h2, h3, h4, h5, h6, p, a, em, img,
small,b, strong,u, i, ol, ul, li, form, label {
	margin: 0;
	padding: 0;
	border: 0;
}
.topheader{
	background-color: #e4e4e4;
}
.topheader ul{
	float: left;
	list-style-type: none;
	margin-top:7px;
	margin-left: 12px;
	
}
.topheader li {
	float:left;
	margin-right: 7px;
	
}
.topheader ul li i
{
	display: block;
	border-radius:50%;
	width:12px;
	height:12px;
}
.clear{
	clear:both;
}
.redcircle{
	
	background-color:red;
}
.yellowcircle{
	background-color: yellow;

}
.greencircle{

	background-color: green;
}
.topheader ul li.clear{
	clear:both;
	float: none;
	margin: 0;
}


.logodatamapper{
	background: url("../images/logo.jpg")no-repeat center center;
	display: inline-block;
	height: 17px;
	width:16px;
	vertical-align: middle;
	margin-right: 6px;
}


.topheader a{
	text-decoration: none;
	color:#a1a1a1;
	font-size:12.51px;
	line-height: 26.81px;
	font-family: "HelveticaNeue";
	text-align: center;
	display: block;
}




.buttongrp{
	padding-top: 24px;
	padding-left: 13px;
	width:174px;
}
.banner a{
	font-size: 14px;
	line-height: 16px;
	font-family: "QuicksandBold";
	display: inline-block;
}
.flightpath{

	
	color:#000;
	

	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 12px;
	padding-right: 12px;
	background-color: #fff;
	text-decoration: none;

}
.gcp{
	
	padding-left: 29px;
	background-color: #000;
	padding-right: 30px;
	padding-top: 7px;
	color:#fff;
	text-decoration: none;
	padding-bottom: 7px;
	
}

.left{
	float:left;
	margin-left: 5px;
}
.right{
	float:right;
	margin-top: 9px;
}
.left h2{
	font-size: 18px;
	color: white;
	line-height: 16.8px;
	margin-bottom: 17px;
	font-family: "QuicksandBook";
}
.right span{
	font-size: 12px;
	color:#fff;
	line-height: 16.8px;
	margin-bottom:6px;
	margin-left: 37px;
	display: block;
	font-family: "QuicksandBold";
}
.left a{
	text-decoration: none;
	background-color: #d14646;
	color:#fff;
	font-family: "QuicksandBold";
	font-size: 14px;
	line-height: 16px;
	padding-top: 7px ;
	padding-right: 16px;
	padding-bottom: 7px ;
	padding-left: 14px;
	display:inline-block;
}
.right a{
	text-decoration: none;
	background-color: #d14646;
	color:#fff;
	font-size: 14px;
	line-height: 16px;
	font-family: "QuicksandBold";
	padding-top: 7px ;
	padding-right: 76px;
	padding-bottom: 7px ;
	padding-left: 76px;
	display: inline-block;
}


table {
    width: 100%;
    text-align: left;
    margin-bottom: 154px;
}
 th {
    font-weight: bold;
}
 th, td {
    padding-left: 14px;
    padding-right: 6px;
    font-size: 14px;
    line-height: 25px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
}
tr:nth-child(even) {
    background-color: #F2F2F2;
}
.righticon{
	background: url("../images/righticon.jpg")no-repeat center center;
	display: inline-block;
	height: 13px;
	width:13px;
	vertical-align: middle;
}
.attachicon{
	background: url("../images/attachicon.jpg")no-repeat center center;
	display: inline-block;
	height: 13px;
	width:13px;
	vertical-align: middle;
	margin-right: 25px;
}
.deleteicon{
	background: url("../images/deleteicon.jpg")no-repeat center center;
	display: inline-block;
	height: 17px;
	width:13px;
	vertical-align: middle;
}


.header{
	background-color:#231f20;
}
.header a{
	font-size: 14px;
	line-height: 30px;	
	font-family: "Quicksand";
	color:#fff;
	text-decoration: none;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 16px;
	padding-right: 17px;
	display:block;
	float:left;
}
.header a:hover{
	background-color: red;
}
.header h4{
	color:#fff;
	margin-left:23px;
	margin-top: 8px;
	float: left; 
	font-size: 14px;
	line-height: 30px;
	font-family: "Quicksand";
}
.header ul{
	float: left;
	margin-left:84px;
	list-style-type: none;
	margin-top: 7px;
}
.header li{
	float:left;
	margin-right: 40px;
}
.header h5{
	color: #c4c3c4;
	font-size: 14px;
	line-height: 30px;
}
.banner{

	background: url("../images/banner.jpg") no-repeat center center;
  	background-size:cover;
  	background-color: gray;
  	padding-left: 13px;
  	padding-top: 15px;
  	padding-bottom: 20px;
  	padding-right: 17px;
}
.bannercontent{
	margin-top: 275px;
}
.footer
{
	background-color: #dcdcdc;
	padding-top: 2.5px;
	padding-bottom: 2.5px;
}
.footer ul{
	
	list-style-type: none;
	margin-left: 12px;
}
.footer li{
	float:left;
	font-size: 14px;
	line-height: 25px;
	margin-right: 43px;
}
.footer ul li.clear{
	clear: both;
	float: none;
}
