html, body, div, h1, h2, h3, h4, h5, h6, p, a, em, img,
small,b, strong,u, i, ol, ul, li, form, label {
	margin: 0;
	padding: 0;
	border: 0;
}
.topheader{
	background-color: #e4e4e4;
}
.topheader ul{
	float: left;
	list-style-type: none;
	margin-top:7px;
	margin-left: 12px;
	
}
.topheader li {
	float:left;
	margin-right: 7px;
	
}
.topheader ul li i
{
	display: block;
	border-radius:50%;
	width:12px;
	height:12px;
}
.clear{
	clear:both;
}
.redcircle{
	
	background-color:red;
}
.yellowcircle{
	background-color: yellow;

}
.greencircle{

	background-color: green;
}



.logodatamapper{
	background: url("../images/logo.jpg")no-repeat center center;
	display: inline-block;
	height: 17px;
	width:16px;
	vertical-align: middle;
}
.logo{
	margin:0 auto;
	width:124px;

}
.logo span{
	font-size:12.51px;
	line-height: 26.81px;
	font-family: "HelveticaNeue";
	margin-left:6px;
	padding-bottom: 15px;
}
.logo a{
	text-decoration: none;
	color:#a1a1a1;
}

.header{
	background-color: #231f20;
	

	
}
.surveylist{
	background: url("../images/surveylist.jpg")no-repeat center center;
	display: inline-block;
	height: 9px;
	width:5px;
	vertical-align: middle;
	margin-right: 7px;
}
.header a{
		padding-top: 14.5px;
		padding-bottom: 14.7px;
		color:#fcf3f3;
		text-decoration: none;
		font-size: 14px;
		line-height: 30px;
		padding-left: 16px;
		padding-right: 17px;
		float:left;
		
}
.header a:hover{
	background-color: red;
}


.header ul{
	float:left;
	margin-left: 16px;	
	list-style-type: none;
		margin-top: 14.5px;
		margin-bottom: 14.7px;
}
.header li{
	float:left;
}
.lake{
		font-family: "Quicksand";
		padding-left: 16px;
		padding-right: 17px;
		color:#fcf3f3;
		line-height: 30px;

}
.date{
		font-family: "Quicksand";
		margin-left:70px;
		font-weight: normal;
		color:#fcf3f3;
		line-height: 30px;
	}
.banner{
	background: url("../images/banner.jpg") no-repeat center center;
  	background-size:cover;
  	background-color: gray;
}
.buttongrp{
	padding-top: 24px;
	padding-left: 13px;
	width:174px;
}
.flightpath{
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left: 11px;
	padding-right: 11px;
	background-color: #fff;
	text-decoration: none;
	font-size: 14px;
	font-family: "QuicksandBold";
	color:#000;
}
.gcp{
	width:87px;
	padding-left: 28px;
	padding-top: 9px;
	background-color: #000;
	padding-right: 29px;
	padding-top: 9px;
	color:#fff;
	text-decoration: none;
	padding-bottom: 7px;
}
.bannercontent{
	padding-top: 275px;
	padding-bottom: 84px;
	padding-left: 17px;
	padding-right: 17px;
}
.left{
	float:left;
}
.right{
	float:right;
}
.left h2{
	font-size: 18px;
	color: white;
	line-height: 16.8px;
	margin-bottom: 16px;

}
.right p{
	font-size: 12px;
	color:#fff;
	line-height: 16.8px;
	margin-bottom:8px;
	padding-left: 16px;
}
.left a{
	text-decoration: none;
	background-color: #d14646;
	color:#fff;
	font-size: 14px;
	line-height: 16px;
	padding-top: 10px ;
	padding-right: 16px;
	padding-bottom: 10px ;
	padding-left: 14px;
}
.right a{
	text-decoration: none;
	background-color: #d14646;
	color:#fff;
	font-size: 14px;
	line-height: 16px;
	padding-top: 10px ;
	padding-right: 75px;
	padding-bottom: 10px ;
	padding-left: 75px;
}

	table {
    width: 100%;
}
th {
    text-align: left;
    font-size: 14px;
    line-height: 25px;
    font-family:"Quicksand";
     vertical-align: bottom;
}
td{
	text-align: left;
	 vertical-align: bottom;
}
.righticon{
	background: url("../images/righticon.jpg")no-repeat center center;
	display: inline-block;
	height: 13px;
	width:13px;
	vertical-align: middle;
}
.attachicon{
	background: url("../images/attachicon.jpg")no-repeat center center;
	display: inline-block;
	height: 13px;
	width:13px;
	vertical-align: middle;
}
.deleteicon{
	background: url("../images/deleteicon.jpg")no-repeat center center;
	display: inline-block;
	height: 17px;
	width:13px;
	vertical-align: middle;
}


.blackbanner{
	background-color:#231f20;
}
.blackbanner a{
	font-size: 14px;
	line-height: 30px;	
	font-family: "Quicksand";
	color:#fff;
	text-decoration: none;
	padding-top: 18px;
	padding-bottom: 14px;
	padding-left: 16px;
	padding-right: 16px;
	display:block;
	float:left;
}
.blackbanner a:hover{
	background-color: red;
}
.blackbanner h4{
	color:#fff;
	padding-top: 18px;
	padding-bottom: 14px;
	padding-left: 16px;
	padding-right: 16px;
	
	float: left;
	font-family: "Quicksand";
}
.blackbanner ul{
	float: left;
	margin-left:85px;
	margin-top: 19px;
	list-style-type: none;
}
.blackbanner li{
	float:left;
	margin-right: 40px;
}
.blackbanner h5{
	color: #c4c3c4;
}