html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
b,
strong,
u,
i,
ol,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}
.clear{
	clear:both;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
body{
	background-color: #f1f1f1;
	font-family: 'Open Sans', sans-serif;
}
.backgroundimg{
	background-image: url('../images/backgroundimg.png');
	background-size: cover;
	height: 850px;
}
.header{
	background-color:#fff; 
	margin-bottom: 60px;
}
.logo{
	float: left;
	border-right: 1px solid #e5e5e5;
	padding: 10.5px 15px;
}
.logo a{
	display: block;
}
.logo img{
	display: block;
}
.navbarupper{
	float: left;
	width: 953px;
	border-bottom: 1px solid #e5e5e5;
}
.navbarupper ul{
	float: left;
	margin-left: 18px;
	margin-top: 10.5px;
	margin-bottom: 10.5px;
}
.navbarupper ul li{
	float: left;
	margin-right: 23px;
}
.navbarupper ul li a{
	font-size: 11px;
	font-weight: 600;
	display: block;
	line-height: 13px;
	color:#666666;
	text-decoration: none;
}
.navbarupper .searchbox{
	float: right;
	margin-top: 7px;
}
.searchicon{
	background-image: url('../images/sprite.png');
    background-repeat:no-repeat;
    display: inline-block;
    background-position: 0px 0px;
    height: 17px;
    width: 17px;
    vertical-align: middle;
}
 .search{
	background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -101px -0px;
    height: 25px;
    width:25px;
    background-color: #fff;
    vertical-align: middle;
	margin-right: 10px;
	border: none;
	padding: 0px;
	    outline: -webkit-focus-ring-color auto 0px;
}
.searchbox .searchclick{
	font-size: 12px;
	line-height: 14px;
	color: #888888;
	font-weight: 700;
	width:66px;
	border: none;
	padding: 4px;
	    outline: -webkit-focus-ring-color auto 0px;
}
.navbarbelow{
	float: left;
}
.navbarbelow ul{
		margin-left: 18px;
		margin-top: 21px;
}
.navbarbelow ul li.clear{
	float: none;
	margin: 0px;
}
.navbarbelow ul li{
	float:left;
	margin-right: 48px;
}
.navbarbelow ul li a{
	font-weight: 600;
	font-size: 16px;
	line-height: 18px;
	color:#0099cc;
	text-decoration: none;
	display: block;
}
.navbarbelow ul li a:hover{
	color:#222222;
}


.contentwrapper{
background-color: #fff;
}
.sectionone{
	float: left;
	width: 190px;
	padding: 25px 25px 0px 25px;
}
.sectiontwo{
	float: left;
	width:630px;
	padding-left: 30px;
	border-left: 1px solid #e5e5e5;
	padding-bottom: 55px;
	margin-right: 30px;
}

.sectionone .energy h3{
	font-size: 13px;
	line-height:15px;
	color: #222222;
	font-weight: 700;
}
.sectionone .energy{
	width: 190px; 
	margin-bottom: 25px;
}
.sectionone .energy ul {
	margin-left: 10px;
}
.sectionone .energy ul li{
	margin-top: 11px;
}
.sectionone .energy ul li a{
	text-decoration: none;
	color: #1199cc;
	font-size: 12px;
	line-height: 16px;
	font-weight: 400;
	display: block;
}
.sectionone .energy ul li a:hover{
	color: #222;
}
.breadcrum{
	margin-top: 18px;
}
.breadcrumicon{
	background:url('../images/breadcrumicon.png')no-repeat center center;
	display: inline-block;
	vertical-align: middle;
	height:8px;
	width:4px ; 
	margin-left: 11px;
	margin-right: 11px;
}
.breadcrum ul li
{
	float: left;
}
.breadcrum ul li.clear{
	float: none;
}
.breadcrum ul li a{
	font-size: 12px;
	font-weight: 400;
	color:#0099cc;
	line-height: 22px;
	text-decoration: none;
	display:inline-block;
}
.breadcrum ul li a:hover{
	color: #666666;
}
.breadcrum ul li span{
	font-size: 12px;
	line-height: 22px;
	color:#666666 ;
	font-weight: 400;
}
.maincontent{
	margin-top: 18px;
}
.maincontent h3{
	font-size: 36px;
	line-height: 48px;
	font-weight: 400;
	color:#222222;
	margin-bottom: 14px;
}
.banner{
	position: relative;
	margin-bottom: 37.5px;
}
.banner img{
	display: block;
}
.banner h4{
	position: absolute;
	color: #ffffff;
	font-size: 24px;
	line-height: 48px;
	font-weight: 400;
	top:50%;
	left: 50%;
	margin-left: -70px;
	margin-top: -24px;

}
.banner h4:hover{
	color: #222;
}
.casestudies ul li a{
	text-decoration: none;
	font-size: 15px;
	line-height: 22px;
	color: #0099cc;
	font-weight: 400;
	display: block;
	margin-bottom: 9.5px;
}
.casestudies ul li a:hover{
	color: #222;
}
.casestudies ul li {
	margin-bottom: 19px;
}
.casestudies ul li:last-child{
	margin-bottom: 0px;
}
.casestudies ul li span{
	font-weight: 400;
	font-size: 12px;
	line-height: 28px;
	color: #000000;
	display:inline-block;
}
.cobrand{
	margin-bottom: 61px;
}
.cobrand h3{
font-size: 24px;
line-height: 48px;
color:#222222;
font-weight: 400;
}
.cobrand ul li{
	float: left;
	width: 300px;
	margin-right: 30px;
}
.casestudies{
	margin-bottom: 62px;
}
.cobrand ul li.clear{
	float: none;
	width: 0px;
	margin-right: 0px;
}
.cobrand ul li:nth-child(2) {
   	margin-right: 0px;
}
.cobrand ul li img{
	display: block;
}
.cobrand ul li p{
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
	color:#222222;
	margin-top: 15px;
}

.reports{

}
.reports .overview{
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 17px;
}
.overview ul{
	margin-left: 10px;
}
.overview ul li{
	float: left;
	margin-right: 10px;
}
.overview ul li.clear{
	float: none;
	margin-right: 0px;
}
.overview ul li a{
font-weight: 600;
font-size: 14px;
line-height: 16px;
color: #0099cc;
display: block;
padding-bottom: 13px;
text-decoration: none;
border-bottom: 2px solid #fff;
padding-left: 10px;
padding-right: 10px;
}
.overview ul li a.active{
	border-bottom: 2px solid #0099cc;
	color:#222;
}
.overview ul li a:hover{
	border-bottom: 2px solid #0099cc;
	color:#222;
}
.iotreports h4{
	font-weight: 400;
	font-size: 24px;
	line-height: 48px;
	color: #0099cc;
	margin-bottom: 11px;
}
.iotreports ul li{
	float: left;
	width: 300px;
	margin-right: 30px;
	background-color: #e0b011;
}
.iotreports ul li.clear{
	float:none;
	width: 0px;
	margin-right: 0px;
}
.iotreports ul li:nth-child(2) {
   	margin-right: 0px;
   	background-color: #7eb923;
}
.iotreports ul li h5.sectwoboreder{
		border-bottom: 1px solid #6b9d1e;
}
.iotreports ul li h5{
	font-size: 18px;
	line-height: 26px;
	color: #fff;
	font-weight: 600;
	padding:20px 20px 11px 20px; 
	border-bottom: 1px solid #bf960e;
}
.iotreports ul li .date{
	font-weight: 400;
	font-size:12px;
	line-height: 28px;
	color:  #9a7808;
	display: block;
}
.vendorinfo{
	margin: 11px 20px 15px 20px;

}
.iotreports ul li a{
	display: block;
	font-weight: 600;
	font-size: 14px;
	line-height: 16px;
	color: #fff;
	margin-top: 20px;
	text-decoration: none;

}
.iotreports ul li a:hover{
	color: #d6222d;
}
.vendorinfo p{
	font-size: 14px;
	line-height: 22px;
	color: #fff;
	font-weight: 400;
	margin-top: 3px;
}
.knowarrow{
	  background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -163px -50px;
    height: 29px;
    width:29px;
    vertical-align: middle;
	margin-left: 10px;
	margin-top: 4px;
}
.knowarrow:hover{
	background-position: -163px -50px;
}
.sectionthree{
	float: left;
	width: 210px;
}
.help{
	margin-top: 30px;
	background-color: #f3f3f3;
	padding-left:  13.5px;
	padding-right: 13.5px;
	padding-top: 5px;
	padding-bottom: 17.5px;
}
.helpinfo h5{
	font-size: 16px;
	line-height: 48px;
	color: #222222;
	font-weight: 400;
}
.helpinfo p{
	font-size: 13px;
	line-height: 20px;
	font-weight: 400;
	color: #666666;
}
.helpinfo a{
	text-decoration: none;
	font-size: 13px;
	line-height: 20px;
	color: #0099cc;

}
.helpinfo a:hover{
	color: #222;
}


.analyst{
width:212px;
margin-top: 24px;
}
.analyst h3{
	font-weight: 400;
	font-size: 16px;
	line-height: 48px;
	color: #222;
	margin-bottom: 5px;
}
.analystpic{
	float: left;
	margin-right: 10px;
}
.analystpic img{
	display: block;
}
.analystinfo{
	float: left;
	width: 142px;
}
.analystinfo h4{
	font-size: 13px;
	line-height: 17px;
	color: #222;
	font-weight: 400;
}
.analystinfo span{
	font-size: 12px;
	line-height: 21px;
	font-weight:400;
	color: #222;
	display:block;
}
.analyst ul li{
	margin-bottom: 20px;
}
.footer{
	background-color: #2f3238;
}
.partone{
	border-bottom: 1px solid #212327;
}
.callus{
	font-weight:600;
	font-size: 18px;
	line-height: 48px;
	color: #d0d0d1;
	display: block;
	float: left;
	padding-right: 25px;
	border-right: 1px solid #212327;
	padding-top: 30px;
	padding-bottom: 43px;
}
.callicon{
	  background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -25px -0px;
    height: 29px;
    width:29px;
    vertical-align: middle;
    margin-top:4px;
}
.callimg{
	float: left;
	margin-right:20px; 
}
.contactno{
	font-size: 20px;
	font-weight: 400;
	color: #a6a6a8;
	line-height: 20px;
	display: block;
}
.time{
	font-size: 14px;
	line-height: 20px;
	color: #a6a6a8;
	font-weight: 600;
	display:block;
}
.contact ul li.clear{
	float: none;
	padding: 0px;
	border:none;
}
.contact ul
{
	float: left;
}
.contact ul li{
	padding:38px 32px 43px 32px;
	border-right: 1px solid #212327;
	float: left;
}
.calldetails{
	float: left;
}
.livechat{
	text-decoration: none;
	background-color: #d6222d;
	color: #fff;
	font-size: 14px;
	line-height: 20px;
	display: inline-block;
	padding: 15px 37px;
	border-radius: 4px;
}
.analyst ul li:hover{
	background-color: red;
}
.livechat:hover{
	background-color:#8fcc30;
}
.parttwo{
	padding-top: 28px;
	padding-bottom: 83px;
}
.chaticon{
	 background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -198px -0px;
    height: 29px;
    width:28px;
    vertical-align: middle;
    margin-right: 19px;
}
.contact ul li.btn{
	padding: 31px 29px;
}
.parttwo{

}
.socialicons{
float: left;

}
.socialicons span{
	font-size: 12px;
	font-weight: 600;
	color: #8a8c8e;
	line-height: 26px;
	display: block;
}
.socialicons ul li{
	float: left;
	margin-right: 7px;
}
.socialicons ul li.clear{
	float: none;
}
.socialicons ul li a{
	display: block;
}
.facebook{
	 background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -279px -6px;
    height: 25px;
    width:25px;
    vertical-align: middle;
}
.facebook:hover{
	color: red;
}
.twitter{
background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -435px -3px;
    height: 25px;
    width:25px;
    vertical-align: middle;
}
.linkedin{
	background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -0px -66px;
    height: 25px;
    width:25px;
    vertical-align: middle;
}
.googleplus{
	background-image: url('../images/sprite.png');
        background-repeat:no-repeat;
    display: inline-block;
    background-position: -105px -63px;
    height: 25px;
    width:25px;
    vertical-align: middle;
}


.conferences{
	float: left;
	margin-left: 38px;
}
.conferences li {
	float: left;
	border-right: 1px solid #888888;
}
.conferences li.clear{
	float: none;
	border:0px;
}
.conferences li a{
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #b2b3b4;
	text-decoration: none;
	display: block;
	padding-left: 6px;
	padding-right: 6px;
}
.conferences li.border{
	border-right: none;
}
.foternav{
	width: 558px;
	float: left;
	margin-left: 184px;

}
.conferences li a:hover{
	color: #d6222d;
}
.disclaimer{
	float: left;
	margin-top: 8px;
}
.disclaimer li{
	float: left;
	border-right: 1px solid #5c5d60;
}
.disclaimer li .clear{
	float: none;
	border-right:0px; 
}
.disclaimer li a{
	font-size: 12px;
	line-height: 26px;
	color: #acadaf;
	font-weight: 400;
	text-decoration: none;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
}
.disclaimer li a:hover{
		color: #d6222d;
}
.disclaimer li.border{
	border-right: 0px;
}
.disclaimer li span{
	font-size: 12px;
	line-height: 26px;
	color: #acadaf;
	font-weight: 400;
	text-decoration: none;
	display: block;
	padding-left: 5px;
	padding-right: 5px;
}
.cards{
	float: right;

}
.cards li{
	float: left;
	margin-right: 4px;
}
.cards li a,img{
	display: block;
}
.cards li.clear{
	float: none;
	margin-right: 0px;
}
.cards span{
	font-size: 12px;
	line-height: 26px;
	color: #acadaf;
	font-weight: 600;
	display: inline-block;
	margin-bottom: 11px;
}