html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
b,
strong,
u,
i,
ol,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
}
body{
	font-family: 'Open Sans', sans-serif;
}
.clear{
	clear:both;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.topheader{
	float: right;
	margin-top: 16px;
	width: 400px;
}
.leftcontent a{
	display: inline-block;
	    margin-left: 14px;
}
.mailicon {
    background-image: url('../images/sprite.png');
        background-position: -137px -43px;
        background-repeat:no-repeat;
    display: inline-block;
    
    height: 15px;
    width: 18px;
    margin-top: 2px;
    vertical-align: middle;

}
.topheader span{
	font-size: 13px;
	line-height: 22px;
	color: #888888;
	font-weight: 400;
	display: inline-block;
	vertical-align: middle;
}
.topheader .followus{
	color: #cccccc;
	
}
.leftcontent{
	float: left;
}
.rightcontent{
	float:right;

}
.rightcontent ul li a{
	display: block;
}
.topheader ul{
	float: right;
}
.topheader ul li{
	float: left;
	margin-left: 17px;
}
.fbicon{
	  background-image: url('../images/sprite.png');
        background-position: -164.9px -40px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 16px;
    width: 8px;
    vertical-align: middle;
}
.twittericon{
	background-image: url('../images/sprite.png');
        background-position: 0px -73.9px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 13px;
    width: 16px;
    vertical-align: middle;
}
.linkedicon{
	background-image: url('../images/sprite.png');
        background-position: -40.1px -70.9px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 15px;
    width: 17px;
    vertical-align: middle;
}
.logo{
	
	float: left;
}
.searchbox{
	float: right;
	margin-top: 14px;
}
.search{
	width:360px;
	font-size:14px;
	line-height: 22px;
	font-weight: 400;
	color:#bababa;
	padding: 5.5px 9px;
	border:1px solid #dddddd;
}
.header{
	margin-bottom: 20px;
}
button{
	padding:9px 9.5px;
	 background-color: #404caa;
	 border: none;
	 margin-left:-5px;
	  display: inline-block;
 vertical-align: middle;
}
.searchicon{
 background: url("../images/search.png")no-repeat center center;
 width:35px;
 height:35px; 
background-color:#404caa;
border: none;
display: inline-block;
margin-left: -5px;
vertical-align: middle;
}
.navbar{
	border-bottom: 1px solid #ccc;
	
}

.navbar li{
	float: left;
	margin-right:30px;
}
.navbar ul li a{
	text-decoration: none;
	font-size: 14px;
	line-height:22px;
	color: #222222;
	font-weight: 700;
	border-bottom: 4px solid #fff;
	padding-bottom: 4px;
	display: block;
}
.navbar ul li a:hover{
	border-bottom: 4px solid #1e2d9b;
	color:#1e2d9b;
}
.dropdown{
	background: url("../images/dropdownicon.png")no-repeat center center;
    display: inline-block;
    height: 5px;
    width: 8px;
    vertical-align: middle;
    margin-left: 8px;
}
.navbar ul li a.active{
		color:#1e2d9b;
		border-bottom: 4px solid #1e2d9b;
}
.navbar ul li.clear{
	clear: both;
	float: none;
	margin: 0;
	padding: 0;
}
.leftcol{
	width:770px;
	float: left;
}
.rightcol{

}
.breadcrumb{
	border-bottom:1px solid #eeeeee;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
	padding-bottom: 9.5px;
}
.breadcrumb ul li span{
	color:#777777;
}
.headersection{
	margin-bottom: 16px;
}
.heading h3{
	font-weight: 700;
	font-size: 28px;
	line-height: 30px;
	color:#222222;
	margin-bottom: 12px;
}
.clalendericon{
	background-image: url('../images/sprite.png');
        background-position: -75px -70.4px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 20px;
    width: 18px;
    margin-right: 11px;
    vertical-align: middle;
}
.viewsicon{
	background-image: url('../images/sprite.png');
        background-position: -109.9px -76.7px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 13px;
    width:20px;
    vertical-align: middle;
    margin-right: 10px;
}
.date{
	float: left;
}
.date ul li{
	float: left;
	padding-right: 15px;
	border-right: 1px solid #eee;
	
}
.date ul li.clear{
	clear: both;
	float: none;
	margin: 0;
	padding: 0;
}
.date span{
	font-size: 16px;
	color:#444;
	display: inline-block;
	vertical-align: middle;
	font-weight: 400;

}
.view{
	padding-left: 15px;
}
.authors{
	float:right;
}
.author{
	font-weight: 400;
	line-height: 20px;
	font-size: 15px;
	color: #222;
	float: left;
	margin-top: 5px;
}
.authors ul{
	float:left;
}
.authors ul li{
	float: left;
	margin-left: 14px;
}
.circle{
	height:30px;
	width: 30px;
	float: left;
	border-radius: 50%;
}

.authorname{
	font-size: 15px;
	line-height: 22px;
	font-weight: 400;
	color:#555;
	vertical-align: middle;
	display: inline-block;
	margin-left: 11px;
}
.heading{
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 11px;
	padding-top: 22px;
	margin-bottom: 25px;
}
.breadcrumb ul li{
	float: left;
}
.breadcrumb ul li a{
	padding-left: 1px;
	padding-right: 1px;
	color:#1e2d9b;
}
.breadcrumb ul li.clear{
	float:none;
	clear:both;
	padding: 0;
}
.bannerimg{
	margin-bottom: 20px;
}
.downloadbtn{
	float: left;
}
.buttons .downloadbtn a{
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color:#1e2d9b;
	text-decoration: none;
	border: 1px solid #1e2d9b;
	padding: 10.5px 20px;
	border-radius: 4px;
}
.buttons{
	margin-bottom: 22px;
}
.buttons .downloadbtn a:hover{
	background-color: #1e2d9b;
	color:#fff;
}
.buttons .socialicons{
	float:right;
	margin-top: 5px;
}
.socialicons ul {
	float: left;
}
.socialicons ul li{
	float: left;
	margin-left: 9px;
}
.socialicons span{
	float: left;
	margin-right: 6px;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	color: #888888;
	margin-top: 6px;
}
.socialicons ul li a{
	display:block;
}
.information p{
	font-size: 18px;
	line-height: 28px;
	color:#222222;
	font-weight: 400;
}
.information{
	padding-bottom: 14px;
	border-bottom: 1px solid #eeeeee;
	margin-bottom: 23px;
}

.information a{
	font-weight: 400;
	font-size: 18px;
	line-height: 28px;
	color: #1e2d9b;
	
}
.information a:hover{
	text-decoration: none;
}
.readlinks span{
	display: block;
	font-size: 14px;
	line-height: 28px;
	color:#222222;
	font-weight: 400;
}
.readlinks{
	padding-bottom: 22px;
	border-bottom: 1px solid #eee;
	margin-bottom: 16px;
}
.readlinks ul li a{
font-weight: 400;
font-size: 14px;
line-height: 26px;
color:#1e2d9b;
}
.readlinks ul li a:hover{
	text-decoration: none;
}
.publicationsicon{
	background-image: url('../images/sprite.png');
        background-position: 0px -39.9px;
        background-repeat:no-repeat;
    height: 24px;
    width:20px;
    margin-right: 12px;
    float: left;
}
.publications{
	border-bottom: 1px solid #e1e0e0;
	margin-bottom: 28px;
}
.related h3{
	font-size: 20px;
	line-height: 22px;
	color: #222;
	font-weight: 700;
	float: left;
	margin-top: 3px;
}
.related{
	padding-bottom: 10px;
	border-bottom: 2px solid #dddddd;
}
.calenderpublications{
	background-image: url('../images/sprite.png');
        background-position: -141px -3px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 15px;
    width:14px;
    vertical-align: middle;
    margin-right: 4px;
}
.viewpublications{
	background-image: url('../images/sprite.png');
        background-position: -161px -6px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 10px;
    width:16px;
    vertical-align: middle;
    margin-right: 4px;
}
.publications > ul{
	padding-left: 15px;
}
.publications > ul > li{
	float:left;
	width: 320px;
	padding-top: 13px;
	padding-bottom: 5px;
	padding-right: 32px;
	border-bottom: 1px solid #e3e3e3;
	margin-right: 25px;
}
.publications ul li a{
	font-weight: 700;
	font-size: 16px;
	line-height: 22px;
	color:#222222;
	text-decoration: none;
}
.publications ul li a:hover{
	color: #1e2d9b;
}
.publications ul li span{
	font-size: 11px;
	line-height: 35.91px;
	color:#555555;
}
.dateicon li{
	float: left;
	margin-right: 13px;
}
.dateicon li.clear{
	clear: both;
	float: none;
	margin: 0px;
	padding: 0px;
}
.publications > ul > li.border{
	border-bottom: none;
}
.comments h3{
	font-size: 20px;
	line-height: 22px;
	color: #222222;
	font-weight: 700;
	margin-bottom: 18px;
}
.commentsinfo a:hover{
	background-color: #1e2d9b;
	color:#fff;
}
.commentsinfo a{
	display:inline-block;
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color:#222222;
	background-color: #ededed;
	border: 1px solid #dddcdc;
	text-decoration: none;
	padding-left: 42px;
	border-radius: 3px;
}
.minusicon{
	 background-image: url('../images/sprite.png');
        background-position: 0px 0px;
        background-repeat:no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    margin-left:49px;
}
.commentsinfo{
	border:1px solid #e1e0e0;
	background-color:#fbfbfb;
	padding-left: 17px;
	padding-right: 26px;
	padding-bottom: 28px;
	border-radius: 3px;
}
.roundicon{
	width:36px;
	height: 36px;
	border-radius: 50%;
	float: left;
}
.commentsinfo > ul > li{
	padding-top: 18px;
}
.jesila{
	float:left;

}
.jesila h3{
	font-size: 15px;
	line-height: 22px;
	color: #222222;
	font-weight: 400;
	margin-bottom: 0px;
	float: left;
}
.jesila span{
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
	color:#666666;
	margin-left: 2px;
}
.hours{
	float: right;
	
}
.hours span{
	font-size: 12px;
	line-height: 22px;
	color:#aaaaaa;
}
.commentsinfo ul{
margin-bottom: 26.5px;
}
.commentsinfo p{
	font-size: 15px;
	line-height: 20px;
	color:#444444;
	font-weight: 400;
	margin-top: 14.5px;
	width: 674px;
}
.contentwrap{
	float: left;
	margin-left: 8px;
	padding-bottom: 17px;
	border-bottom: 1px solid #eeeeee;
	margin-top: 5px;
}
.writecomment{
	margin-left: 47px;
}
.writecomment h4{
	font-size: 17.95px;
	line-height: 24.93px;
	font-weight: 700;
	color: #000000;
	margin-bottom: 13.5px;
}
.writecomment label{
	font-weight: 400;
	font-size: 14px;
	color: #555555;
	line-height: 22px;
	display: block;
	margin-bottom: 4px;
}
.writecomment span{
	font-size: 12px;
	line-height: 22px;
	color: #888888;
	font-weight: 400;

}
.writecomment input{
	height: 31px;
	width: 673px;
	border:1px solid #dddddd;
	border-radius: 3px;
	margin-bottom: 16px;
}
.writecomment sup{
	color: #e06376;
}
textarea{
	border:1px solid #dddddd;
	border-radius: 3px;
	height: 214px;
	width: 670px;
	margin-bottom: 25px;
}
.writecomment .submitbtn{
	display:inline-block;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	background-color: #fbfbfb;
	border:1px solid #1e2d9b;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 19px;
	padding-right: 21px;
	color:#1e2d9b;
}
.writecomment .submitbtn:hover{
	background-color: #1e2d9b;
	color: #fff;
}
.rightcol{
	width: 370px;
	margin-top: 29px;
		float: right;
}
 .libarysection{
	padding-left: 15px;
	padding-right: 15px;
}

.libraryinfo{
	padding-bottom: 15px;  
	padding-top: 15px;
	border-bottom: 1px solid #e4e4e4;
}
.otherlibrary ul li a:hover{
	color: #1e2d9b;

}
.categoryinfo{
	font-size: 16px;
	line-height: 22px;
	color: #222222;
	vertical-align: middle;
	display: inline-block;
	margin-left: 15px;
	text-decoration: none;
}
.otherlibrary{
	margin-bottom: 30px;
}
 h2{
	font-weight: 700;
	font-size: 20px;
	line-height: 22px;
	color: #151515;
	border-bottom: 2px solid #dddddd;
	padding-bottom: 8px;
}
.videos {
    background-image: url('../images/sprite.png');
     background-repeat:no-repeat;
    background-position: -105px -39px;
    display: inline-block; 
    height: 25px;
    width: 20px;
    vertical-align: middle;
}
.presentations{
	 background-image: url('../images/sprite.png');
     background-repeat:no-repeat;
    background-position: -73px -39px;
    display: inline-block; 
    height: 25px;
    width: 20px;
    vertical-align: middle;
}
.blogs{
	 background-image: url('../images/sprite.png');
     background-repeat:no-repeat;
    background-position: -40px -39px;
    display: inline-block; 
    height: 25px;
    width: 20px;
    vertical-align: middle;
}
.othercategory .publicationsicon{
	margin-left: 9px;
	margin-right: 11px;
}
.othercategory{
	margin-bottom: 30px;
}

.digitalfinancial{
	float: left;
}
.numbers{
	float: right;
}
.numbers span{
	font-size: 16px;
	line-height: 22px;
	color: #777777;
}
.othercategory ul li:hover{
	background-color: #fbfbfb;	
}
.popularpublications {
	margin-bottom: 28px;
}
.popularpublications .publicationsicon{
	margin-left: 9px;
	margin-right: 11px;
}
.popularpublications > ul > li > a{
	font-size: 16px;
	line-height: 22px;
	text-decoration: none;
	color:#222222;
	font-weight: 700;
}
.popularpublications ul li a:hover{
	color:#1e2d9b;
}
 .popularpublications ul li span{
    font-size: 11px;
    line-height: 35.91px;
    color: #555555;
}
 .popularpublications > ul > li{
 	padding-top: 17px;
 	padding-bottom: 4px;
 	border-bottom: 1px solid #e3e3e3;
 }
 .popularpublications > ul > li.helix{
 	padding-top: 9px;

 }
 .tags h3{
 	font-weight: 700;
 	font-size: 20px;
 	line-height: 22px;
 	color:#222222;
 	margin-bottom: 13px;
 }
 .tags ul li{
 	float: left;
 		margin-right: 10px;
 		margin-bottom: 10px;
 }
 .tags ul li a{
 	text-decoration: none;
 	font-size: 16px;
 	line-height: 28px;
 	padding-left: 15px;
 	padding-right: 15px;
 	color:#777777;
 	font-weight: 400;

 	border:1px solid #e1e0e0;
 	display: inline-block;
 	border-radius: 3px;

 }
  .tags ul li a:hover{
  	border:1px solid #1e2d9b;
  	color: #1e2d9b;
  }
 .tags ul li.clear{
 	clear: both;
 	float: none;
 	margin-right: 0px;
 }
 .tags ul li a.aski{
 	padding-left: 13px;
 }
  .tags ul li a.opportunity{
  	padding-right: 12px;
  }
  .wrapper{
  	margin-bottom: 50px;
  }




 .footer{
background-color: #0c0c0c;
padding-top: 15px;
padding-bottom: 32px;
 }
 .footercontent{
	margin-bottom: 16px;
 }
 .aboutus{
 	float: left;
 	margin-left: 7px;
 }

  .footer .aboutus ul li.border{
 	border-right:2px solid #353535; 
 }
  .footer .aboutus ul li{
  	float: left;
  	padding-right:8px;
  	padding-left: 8px;
  }
   .footer .aboutus ul li.clear{
   	float: none;
   }
 .footer .aboutus ul li a{
 	text-decoration: none;
 	color:#fff;
 	font-size: 14px;
 	line-height: 22px; 
 	font-weight: 400;
 	display: inline-block;
 }
 .footer .aboutus ul li a:hover{
 	color: #1e2d9b;
 }
 .sitemap{
 	float: right;
 	margin-right: 8px;
 }
 .sitemap ul li{
 	float: left;
 	padding-left: 6px;
 	padding-right: 6px;
 	border-right:2px solid #353535;
 }
  .sitemap ul li.codeof{
  	border-right:none;
  }
  .sitemap ul li a:hover{
  	color: #1e2d9b;
  }
 .sitemap ul li a{
 	text-decoration: none;
 	color:#fff;
 	font-size: 12px;
 	line-height: 22px;
 	font-weight: 400;
 }
  .sitemap ul li.clear{
  	float: none;
  }


.copyrightmicrosave{
	float: left;
	margin-left: 14px;
}
.copyrightmicrosave span{
	font-weight: 400;
	font-size: 12px;
	line-height: 22px;
	color: #fff;
}
.subscribe{
	float: right;
	margin-right: 15px;
}
.subscribe .bulletin{
	float: left;
}
.subscribe .bulletin span{
	font-size: 13px;
	line-height: 22px;
	color: #fff;
	font-weight: 400;
}
.mail{
 background-image: url('../images/sprite.png');
        background-position: -40px -2px;
        background-repeat:no-repeat;
    display: inline-block;
    
    height: 13px;
    width: 18px;
	margin-left: 14px;
    vertical-align: middle;	
}
.follow{
	float:left;
	margin-left: 25px;
}
.follow span{
	font-size: 13px;
	line-height: 22px;
	color: #fff;
	float: left;
}
.follow ul li.clear{
	clear: both;
	float: none;
}
.follow ul {
	float: left;
}
.follow ul li{
	float: left;
	margin-left: 15px;
} 
.follow ul li a{
	display: inline-block;
}
.footerfbicon{
	background-image: url('../images/sprite.png');
        background-position: -69px -2px;
        background-repeat:no-repeat;
    display: inline-block;
    
    height: 16px;
    width: 8px;
	
    vertical-align: middle;
}
.footertwittericon{
	background-image: url('../images/sprite.png');
        background-position: -89px -8px;
        background-repeat:no-repeat;
    display: inline-block;
    
    height: 13px;
    width: 16px;
	
    vertical-align: middle;
}
.footerlinkedinicon{
		background-image: url('../images/sprite.png');
        background-position: -112px -3px;
        background-repeat:no-repeat;
    display: inline-block;
    
    height: 15px;
    width: 18px;
	
    vertical-align: middle;
}