html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
b,
strong,
u,
i,
ol,
ul,
li,
form,
label {
margin: 0;
padding: 0;
border: 0;
list-style-type: none;
}
.clear{
clear:both;
}
@font-face {
font-family: 'MicrosoftNewTaiLue';
src: url('../fonts/MicrosoftNewTaiLue.eot') format('embedded-opentype');
font-weight: normal;
font-style: normal;
}
.container{
width: 940px;
margin: 0 auto;
}
body{
background-color:#fafafa;
font-family: 'MicrosoftNewTaiLue', sans-serif;
}
.header{
background-color: #fffaeb;
box-shadow:0px 3px 4px #eaeaea;
}
.header a{
float: left;
margin-top: 25px;
margin-bottom: 25px;
}
.header img{
display:block;
}
.wrapper{
margin-top: 20px
}
.HeaderNavbar{
background-color: #4b4b4b;
}
.HeaderNavbar ul{
float: left;
margin-left: 35px;
margin-top: 13.5px;
margin-bottom: 13.5px;
}
.HeaderNavbar ul li{
float: left;
margin-right: 35px;
}
.HomeIcon{
float:left;
margin-left: 18px;
margin-top: 11.5px;
margin-bottom: 11.5px;
}
.home{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
display: inline-block;
background-position: -15px -1px;
height: 22px;
width: 23px;
vertical-align: middle;
}
.HeaderNavbar ul li a{
text-decoration: none;
color: #ffffff;
font-size: 16px;
line-height: 18px;
display: block;
}
.HeaderNavbar ul li a:hover{
color:#ea3d3d;
}
.searchbox{
float: right;
margin: 10px 10px 10px 0px;  
position: relative;
}
.search{
background-color: #5f5f5f;
border: none;
width: 209px;
box-sizing: border-box; 
height: 25px;
padding: 5px;
padding-right: 28px;
outline: -webkit-focus-ring-color auto 0px;
}
.SubmitBtn{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
display: inline-block;
background-position: -2px -30px;
height: 18px;
width: 18px;
padding: 0;
right:10px;
top:4px;
border: none;
position: absolute;
vertical-align: middle;
background-color: #5f5f5f;
outline: -webkit-focus-ring-color auto 0px;
}
.searchbox input[type='text']{
color: #ababab;
font-size: 13px;
line-height: 15px;
}
.ContentWrapper{
margin-top: 20px;
}
.SectionOne{
float: left;
width: 300px;
}
.SectionTwo{
float: left;
width: 300px;
margin-left: 20px;
}
.SectionThree{
float: left;
width: 300px;
margin-left: 20px;
}
.InnerBox{
padding: 23px 20px 22px;
border-bottom: 1px solid #e9e9e9;
}
.BuyNewCars{
box-shadow: 0px 0px 5px 5px #ebebeb;
}
.SubHeading{
font-size: 18px;
line-height: 20px;
color: #e74c3c;
border-bottom: 1px solid #ebebeb;
padding-bottom: 7px;
margin-bottom: 15px;
font-weight: 400;
}
.brand{
font-size: 14px;
line-height: 16px;
color: #4b4b4b;
display: inline-block;
margin-bottom: 8px;
font-weight: 400;
}
.SelectInfo{
font-size:13px;
line-height: 15px;
color: #828282;
display: block;
margin-bottom: 18px;
font-weight: 400;
}
select{
width: 260px;
height: 40px;
box-sizing: border-box;
font-size: 14px;
line-height: 16px;
padding: 10px 13px;
color: #bbbbbb;
outline: -webkit-focus-ring-color auto 0px;
border: 1px solid #e2e2e2;
background-color: #fff;
}
.model{
margin-bottom: 10px;
}
.BudgetInfo{
margin-top: 25px;
}
.budget{
float: left;
margin-left: 14px;
font-size: 16px;
line-height: 18px;
color: #6e6e6e;
}
.price{
float: right;
font-weight: 400;
font-size: 14px;
line-height: 16px;
color: #6e6e6e;
}
.BudgetImg {
float: left;
margin-top: 17px;
margin-left: 7px;
}
.go{
float: right;
background-color:#ea3d3d;
font-size: 16px;
line-height: 18px;
color: #fff;
text-decoration: none;
padding: 6px 4.33px;
margin-top: 10px;
font-weight: 400;
}
.question{
text-align: center;
padding-top: 11px;
background-color: #f8f8f8;
padding-bottom: 11px;
}
.question span{
font-size: 16px;
line-height: 18px;
color: #848484;
font-weight: 400;	
}
.question a{
font-size: 16px;
line-height: 18px;
text-decoration: none;
color: #2980b9;
}
.question a:hover{
color: #ea3d3d;
}
.RecommendedCars{
box-shadow: 0px 0px 5px 5px #ebebeb;
margin-top: 20px;
}
.RecommendedCars .InnerBox{
border-bottom:0px;
padding-bottom: 10px;
}
.RecommendedCars h3{
margin-bottom: 0px;
}
.RecommendedCarImg{
border: 1px solid #e7e7e7;
float: left;
}
.RecommendedCarImg img{
display: block;
}
.CarInfo{
float: left;
margin-left: 10px;
width: 187px;
margin-top: 4px;
}
.CarInfo h4{
font-size: 16px;
line-height: 18px;
color:#4a4a4a; 
font-weight: 400;
margin-bottom: 7px;
}
.CarInfo p{
font-size: 13px;
line-height: 15px;
color: #838383;
}
.RecommendedCars ul li{
padding-top:14px;
padding-bottom: 14px;
border-bottom: 1px solid #ebebeb;
}
.RecommendedCars ul li a{
display: block;
}
.RecommendedCars ul li:last-child{
border-bottom: none;
}
.view{
float: right;
font-size: 13px;
line-height: 15px;
color: #2980b9;
border-bottom: 1px solid #2980b9;
text-decoration: none;
margin-top: 10px;
}
.view:hover{
color: #ea3d3d;
border-bottom:1px solid #fafafa;
}
.UsedCars{
margin-bottom: 20px;
box-shadow: 0px 0px 5px 5px #ebebeb;
}
.Redbtn{
text-decoration: none;
background-color: #ea3d3d;
color: #fff;
font-size: 16px;
font-weight: 400;
line-height: 18px;
display: block;
text-align: center;
padding-top: 11px;
padding-bottom: 11px;
}
.Redbtn:hover{
background-color:#848484; 
}
.UsedCars .InnerBox{
padding-bottom: 35px;
}
.ChooseBtn{
display:block;
font-size: 16px;
line-height: 18px;
color: #fff;
font-weight: 400;
background-color: #848484;
text-decoration: none;
padding: 16px 18px;
}
.RightArrow{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
float: right;
background-position: 4px -1px;
height: 22px;
width: 19px;
}
.ChooseBtn:hover{
background-color: #ea3d3d;
}
.FeaturedComparisions{
box-shadow: 0px 0px 5px 5px #ebebeb;
margin-top: 20px;
}
.FeaturedComparisions .InnerBox{
border-bottom: none;
padding-bottom: 10px;
} 
.CompareCarOne{
float: left;
text-align: center;
}
.CompareCarTitle{
font-size: 15px ;
line-height: 17px;
color: #656565;
}
.CompareCarOne img{
display: block;
width: 100%;
height: 59px;
}
.CompareCarTwo{
float: right;
text-align: center;
}
.CarImg{
width: 119px;
height: 59px;
margin-bottom: 12px;
border:1px solid #e7e7e7;
}
.CompareCarTwo img{
display: block;
width: 100%;
height: 59px;
}
.vs{
font-size: 14px;
line-height: 16px;
color: #010101;
margin-top: 74px;
display: inline-block;
}
.comparision{
text-align: center;
margin-top: 10px;
}
.comparision a{
border-bottom: 1px solid #2980b9;
text-decoration: none;
font-size: 12px;
line-height: 14px;
color:#2980b9;
}
.comparision a:hover{
border-bottom:1px solid #fafafa;
color: #d04031;
}
.viewall{
float: right;
text-decoration: none;
font-size: 13px;
color: #2980b9;
line-height: 15px;
border-bottom: 1px solid #2980b9;
margin-top: 8px;
}
.viewall:hover{
border-bottom: none;
color: #d04031;
}
.FeaturedComparisions ul li{
padding-top: 13px;
padding-bottom: 8px;
border-bottom: 1px solid #ebebeb;
}
.FeaturedComparisions ul li:last-child{
border-bottom:0;
padding-bottom: 0px;
}
.FeaturedComparisions .SubHeading{
margin-bottom: 0px;
}
.SellCar{
margin-bottom: 20px;
box-shadow: 0px 0px 5px 5px #ebebeb;
}
.SellCar .InnerBox{
padding-bottom: 35px;
}
.ExpertAnswer{
box-shadow: 0px 0px 5px 5px #ebebeb;
margin-top: 20px;
}
.ExpertAnswer .InnerBox{
padding-bottom:10px;
border-bottom: 0px;
}
.ExpertAnswer p{
font-size: 13px;
line-height: 15px;
color:#848484;
margin-bottom: 9px;
}
.ExpertAnswer span{
font-size: 13px;
line-height: 15px;
color: #878787;
}
.ExpertAnswer .CarBlackText{
color:#000000;
}
.ExpertAnswer .SubHeading{
margin-bottom: 0px;
}
.ExpertAnswer ul li{
padding-top: 16px;
padding-bottom: 16px;
border-bottom: 1px solid #ebebeb;
}
.ExpertAnswer ul li:last-child{
border-bottom: none;
}
.ExpertAnswer .view{
margin-top: 14px;
}
.go:hover{
background-color: #848484;
}
.popular .PopularSection{
float: left;
width: 540px;
box-shadow: 0px 0px 5px 5px #ebebeb;
}
.popular .NewsSection{
float:left;
margin-left:20px; 
width: 380px;
box-shadow: 0px 0px 5px 5px #ebebeb;
}
.popular{
margin-top: 18px;
}
.PopularSection > .InnerBox > ul > li{
margin-right: 23px;
float: left;
}
.PopularSection > .InnerBox > ul > li.clear{
float: none;
margin-right: none;
}
.PopularSection > .InnerBox > ul{
border-bottom: 1px solid #ebebeb;
width: 501px;
}
.PopularSection > .InnerBox > ul > li > a{
font-size: 18px;
line-height: 20px;
color:#5a5a5a; 
text-decoration: none;
display: block;
padding-bottom: 7px;
border-bottom: 2px solid #fafafa;
}
.PopularSection > .InnerBox > ul > li > a:hover{
border-bottom: 2px solid #ea3d3d;
color: #ea3d3d;
}
.PopularSection > .InnerBox > ul > li > a.active{
border-bottom: 2px solid #ea3d3d;
color: #ea3d3d;
}
.carlist{
width: 501px;
margin-top: 29px;
}
.carlist ul li{
float: left;
width: 150px;
margin-right: 17px;
margin-bottom: 26px;
}
.carlist ul li.clear{
float: none;
width: 0px;
margin-bottom: 0px;
}
.carlist ul li a{
font-size: 13px;
color: #858585;
line-height: 15px;
text-decoration: none;
display: block;
}
.carlist ul li a:hover{
color: #ea3d3d;
}
.PopularSection .InnerBox{
border-bottom: none;
padding-top: 19px;
padding-bottom: 21px;
}
.NewsSection ul li p{
font-size: 14px;
line-height: 16px;
color: #666666;
margin-bottom: 12px;
}
.NewsSection .InnerBox{
padding-top: 19px;
padding-bottom:19px;
border-bottom: none;
}
.NewsSection ul li {
padding-top: 13px;
padding-bottom: 13px;
border-bottom: 1px solid #ebebeb;
}
.NewsSection ul li:last-child{
border-bottom: none;
padding-bottom: 0px;
}
.NewsSection ul li span{
font-size: 12px;
line-height: 14px;
color: #9f9f9f;
}
.NewsSection .SubHeading{
margin-bottom: 0px;
}
.footer{
background-color: #3b3b3b;
margin-top: 20px;
padding-top: 31px;
padding-bottom: 41px;
}
.footer > .container > ul > li{
width: 180px;
margin-left: 60px;
float: left;
}
.footer > .container > ul > li:first-child{
margin-left: 0px;
}
.footer > .container > ul > li.clear{
float: none;
margin-left: 0px;
width: 0px;
}
.footer  > .container > ul{
margin-left: 20px;
}
.footer  h4{
font-size: 15px;
line-height: 17px;
color: rgb(210, 210, 210);
border-bottom: 1px solid #666666;
padding-bottom: 9px;
}
.FooterNavbar{
margin-top: 17px;
}
.FooterNavbar li{
margin-bottom: 10px;
}
.FooterNavbar li:last-child{
margin-bottom: 0px;
}
.FooterNavbar li a{
text-decoration: none;
font-size: 12px;
line-height: 14px;
color: #939393;
display: block;	
}
.FooterNavbar li a:hover{
color: #d33d3d;
}
.SocialIcons{
margin-top: 20px;
margin-left: 7px;
}
.SocialIcons li{
float: left;
width: 23px;
height: 23px;
margin-right: 11px;
}
.SocialIcons li.clear{
float: none;
width: 0px;
height: 0px;
margin-right: 0px;
}
.SocialIcons li a{
display:inline-block;
}
.fb{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
float: right;
background-position: -38px -2px;
height: 20px;
width: 14px;
display: inline-block;
vertical-align: middle;
}
.rss{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
float: right;
background-position: -86px -4px;
height: 18px;
width: 18px;
display: inline-block;
vertical-align: middle;
}
.twitter{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
float: right;
background-position: -108px -6px;
height: 18px;
width: 21px;
display: inline-block;
vertical-align: middle;
}
.youtube{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
float: right;
background-position:-57px -1px;
height: 23px;
width: 23px;
display: inline-block;
vertical-align: middle;
}
.linkedin{
background-image: url('../images/sprite.png');
background-repeat:no-repeat;
float: right;
background-position: -133px -6px;
height: 22px;
width: 18px;
display: inline-block;
vertical-align: middle;
}