html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
em,
img,
small,
b,
strong,
u,
i,
ol,
ul,
li,
form,
label {
    margin: 0;
    padding: 0;
    border: 0;
}
body{
      font-family: 'Quicksand', sans-serif;
}
.container {
    width: 1170px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

.header {
    background-color: #272727;
}

.logo {
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
}

.header .logo a {
    display: inline-block;
}

.admin {
    float: right;
    text-decoration: none;
    color: #fff;
    font-family: "Quicksand";
    font-size: 14px;
    line-height: 32.98px;
    margin-top: 20px;
    padding-left: 13px;
}

.dropdown {
    background: url("../images/dropdown.png")no-repeat center center;
    display: inline-block;
    height: 4px;
    width: 7px;
    vertical-align: middle;
    margin-left: 12px;
}

.notification {
    background: url("../images/notification.png")no-repeat center center;
    height: 27px;
    width: 20px;
    vertical-align: middle;
    float: right;
    margin-top: 18px;
}

.header ul {
    float: right;
    list-style-type: none;
}

.header li {
    float: left;
}

.header ul li a {
    text-decoration: none;
    color: #fff;
   font-family: 'Quicksand', sans-serif;
    font-size: 14px;
    line-height: 32.98px;
    padding-top: 18px;
    padding-bottom: 17px;
    padding-left: 17px;
    padding-right: 21px;
    display: inline-block;
    border-top: 4px solid #272727;
    font-weight: 400;
}

.header ul li a:hover {
    background-color: #1a1a1a;
    border-top: 4px solid #c0262b;
}


.lakewheeler {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 3px solid #999999;
}
.lakewheeler .dropdownicon 
{ float: left;
    margin-top: 11px;}

.left {
    float: left;
}

.lakewheeler h2 {
    font-size: 40px;
    line-height: 42px;
    color: #c1272c;
    font-weight:400;
    float:left;
    margin-right: 15px;
      font-family: 'Quicksand', sans-serif;
}

.right {
    float: right;
}

.lakewheeler .right a {
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    line-height: 33px;
    padding-top: 4.5px;
    padding-bottom: 4.5px;
    color: #000;
    font-weight:400;
      font-family: 'Quicksand', sans-serif;
}

.backicon {
    background: url("../images/backicon.png")no-repeat center center;
    height: 38px;
    width: 31px;
    vertical-align: middle;
    margin-right: 32px;
    display: inline-block;
}

.dropdownicon {
    background: url("../images/dropdownicon.png")no-repeat center center;
    height: 7px;
    width: 9px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #bcbcbc;
    padding-top: 7px;
    padding-left: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
    background-color: #f9f9f9;
   
}

.leftcolumn {
    width: 354px;
    float: left;
    padding-top: 20px;
}

.leftcolumn .details {
    margin-bottom: 8px;
    border: 1px solid #cccccc;
}

.leftcolumn .details ul {
    list-style-type: none;
}

.details {
    background-color: #fff;
}

.details > ul li {
    float: left;
}

.details > ul li a {
    font-size: 16px;
    line-height: 35px;
    padding-top: 6px;
    padding-bottom: 6px;
    display: inline-block;
    padding-left: 17px;
    padding-right: 17px;
    background-color: #e2e2e2;
    text-decoration: none;
    color: #666666;
    font-weight:400;
      font-family: 'Quicksand', sans-serif;
}

.details > ul li a:hover {
    background-color: #fff;
}

.subdetails > ul {
    list-style-type: none;
}

.leftcolumn .details .subdetails {
    padding-left: 20px;
    padding-right: 18px;
}

.subdetails > ul li {
    padding-top: 3px;
   
}
.subdetails > ul li span{
     font-size: 14px;
    line-height: 30px;
    color: #4d4d4d;
      font-family: 'Quicksand', sans-serif;
      font-weight: 400;
}

.lefttext {
    float: left;
    display: inline-block;
    vertical-align: middle;
}

.righttext {
    float: right;
    display: inline-block;
    vertical-align: middle;
}

.leftcolumn .details .subdetails ul li span.clear {
    clear: both;
    float: none;
    padding: 0px;
    display: none;
}

.locationicon {
    background: url("../images/locationicon.png")no-repeat center center;
    height: 12px;
    width: 8px;
    vertical-align: middle;
    margin-right: 20px;
    display: inline-block;
    margin-top:edit;
}

.dropdown {
    background: url("../images/dropdown.png")no-repeat center center;
    display: inline-block;
    height: 4px;
    width: 7px;
    vertical-align: middle;
    margin-left: 6px;
    border-top: 4px solid #272727;
}

.reports {
    border: 1px solid #cccccc;
    margin-bottom: 8px;
    background-color: #fff;
}

.heading {
  	    padding-left: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    border-bottom: 1px solid #cccccc;

}



.reports > ul {
    list-style-type: none;
}

.reports > ul li {
    padding-top: 7px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 14px;
    border-bottom: 1px solid #cccccc;
}

.reports >ul li:hover {
    background-color: #e2e2e2;
}

.reports > ul li img {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

.buttons {
    float: right;
    vertical-align: middle;
    margin-top: 25px;
}

.save {
    background: url("../images/save.png")no-repeat center center;
    height: 7px;
    width: 9px;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid #bcbcbc;
    padding-top: 7px;
    padding-left: 6px;
    padding-bottom: 6px;
    padding-right: 5px;
    background-color: #f9f9f9;
    margin-right: 6px;
}

.algorithm {
    border: 1px solid #cccccc;
    background-color: #fff;
}

.algorithm > ul {
    list-style-type: none;
}

.algorithm > ul li {
    padding: 6px 14px 6px 10px;
    border-bottom: 1px solid #cccccc;
}

.algorithm ul li img {
    display: inline-block;
    float: left;
    vertical-align: middle;
}

 .spantext {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 24px;
    color: #4d4d4d;
    margin-left: 15px;
    margin-top: 10px;
    width: 112px;
    font-weight: 700;
}

.algorithm > ul li a {
    display: inline-block;
    text-decoration: none;
    float: right;
    font-size: 13px;
    line-height: 41px;
    margin-top: 10px;
    background-color: #bb2527;
    color: #fff;
    padding-left: 31px;
    padding-right: 31px;
    border-radius: 4px;
}

.rightcolumn {
    float: right;
    padding-top:16px;
    width: 803px;
}

.comments {
    border: 1px solid #cccccc;
    background-color: #fff;
}

.commenticon {
    background: url("../images/commenticon.png")no-repeat center center;
    display: inline-block;
    height: 16px;
    width: 19px;
    vertical-align: middle;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.heading h3{
	font-size: 16px;
    line-height: 35px;
    color: #666666;
   font-weight: 400;
}

.navigation {
    background: url("../images/navigation.png")no-repeat center center;
    display: inline-block;
    height: 29px;
    width: 21px;
    vertical-align: middle;
    margin-right: 20px;
    font-style: normal;
    color: #fff;
    padding-left: 12px;
    padding-top: 6px;
}

.comments > ul {
    list-style-type: none;
    padding: 17px 14px 10px 20px;
    margin-bottom: 22px;
}

.comments > ul li p {
    width: 602px;
    margin-left: 53px;
     font-weight: 400;
      line-height: 24px;  
}

.comments > ul li {
    margin-bottom: 17px;
}

.commentleft {
    float: left;
}

.commentright {
    float: right;
  
    
}

.commentright  span {
    float: right;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    display:inline-block;


}

.formsection {
    margin-left: 22px;
    margin-bottom: 10px;
    padding-right: 15px;
}

.formsection > a {
    text-decoration: none;
    background-color: #c02527;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    padding-left: 27px;
    padding-right: 27px;
    float: right;
    margin-top: 28px;
}

textarea {
    float: left;
    width: 618px;
    height: 58px;
    padding-left: 10px;
    border-radius: 4px;
}

.image {
    float: left;
}

.wrapper {
    background-color: #f2f2f2;
    padding-bottom: 273px;
}
.left > a{
	display: inline-block;
}
.map{
	margin-bottom: 7px;
}
.commenthead{
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;

}
