
html, body, div, h1, h2, h3, h4, h5, h6, p, a, em, img,
small, strong, b, u, i, ol, ul, li, form, label {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}


.container{
width:1170px;
margin:0 auto;
}

.clear{
	clear:both;
}

.header
{
	
	padding-top:7px;
	padding-bottom:7px;
	background-color:#000;
}
.container .logo{
	float:left;
}

.header ul{
	margin-top:20px;
	float:right;
	list-style-type:none;
}
.header li{
	float:left;
	margin-left:55px;
}

.header li a{
	
	font-size:14px;
	line-height:16px;
	color:white;
	text-decoration:none;
	
}
.header li  img{
	height:14px;
	margin-left:12px;

}
.content{
	margin-top:30px;
}

.content input{
	height:31px;
	width:205px;
}
.content  img{
	height:31px;
	width:36px;
}
.content  image{
	
	height:38px;
	width:36px;
}

.content label{
	padding-left:80px;
	margin-right:10px;
	color:gray;
	font-size:14px;
	font-family:Monospace;
}
.button {
    background-color: gray;
    border: none;
    color: white;
    padding: 7px 37px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	float:right;
	margin-left:15px;
	height:23px;
	width:60px;
}


.data ul{
	list-style-type:none
}
.data li label{
	font-family:Geneva;
	margin-left:15px;
	font-size:22px;
	line-height:24px;
}
.data .line1 {
	font-family:Monospace;
	margin-left:220px;
}
.data .line2 {
	font-family:Monospace;
	margin-left:207px;
}

.data .line4 {
	font-family:Monospace;
	margin-left:207px;
}
.data .line3 {
	font-family:Monospace;
	margin-left:215px;
}

.data .line5 {
	font-family:Monospace;
	margin-left:163px;
}
.data .line6 {
	font-family:Monospace;
	margin-left:160px;
}
.data .line7 {
	font-family:Monospace;
	margin-left:164px;
}
.data .line8 {
	font-family:Monospace;
	margin-left:107px;
}
.data input{
	float:right;
	height:18px;
	width:18px;
}



.dots {
	margin-top:80px;
	margin-left:570px;
}
.footer{
	padding-top:6px;
	padding-bottom:6px;
	background-color:Black;
	margin-top:46px;
}

.footer p{
	font-size:14px;
	line-height:16px;
	color:white;
	text-align:center;
}
.footer span{
	color:red;
}